.per_acc .carousel{
    display: none !important;
}
.per_acc #head{
    height: 190px;
}
.per_acc header{
    padding: 26px 3% 5px 3%;
    height: 190px;
    background-image: url(../../components/img/bn1.png);
}
.per_acc nav{
    padding: 60px 30% 0 30%;
}
.per_acc{
    margin: 0 auto 0 auto;
    width: 1901px;
    height: 2400px;
    background-image: url(../../components/img/Frame_3.png);
}
.per_acc section{
    height: 2050px;
}
#menu_account{
    display: flex;
    justify-content: space-between;
    width: 1000px;
    height: 180px;
    padding: 60px 0 60px 0;
    margin: 0 auto 0 auto
}
#menu_account button{
    width: 200px;
    height: 60px;
    border: none;

    font-family: 'Ubuntu Condensed';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 41px;
    color: white;

    background: #365065;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
}